<h1>Single Calendar</h1>

<app-single-calendar
  [noChoose]="false"
  className="cacaclass"
  [disableDatesBefore]="disableDatesAfter"
  [disableDatesAfter]="disableDatesAfter"></app-single-calendar>

<h1>Single Calendar (No choose)</h1>

<app-single-calendar
  [startChosenToday]="true"
  [noControls]="true"
  [noChoose]="true"></app-single-calendar>

<h1>Single Calendar with Reactive Forms</h1>
<p>Form value:</p>
<pre>{{firstForm.value | json}}</pre>
<form [formGroup]="firstForm">
  <app-single-calendar
    [bindFormControl]="firstForm.get('date')"></app-single-calendar>
</form>


<h1>Single Calendar with directive and FormControl</h1>
<pre>{{secondForm.value | json}}</pre>
<form class="second-form" [formGroup]="secondForm">
  <label>Date</label>
  <input type="text"
         formControlName="date"
         datePickerSingle
         formatterFromDate="DD/MM/YYYY"
         formatterToDate="DD/MM/YYYY" />
  <br>
  <label>Date2</label>
  <input type="text"
         [formControl]="secondForm.get('date2')"
         datePickerSingle
         formatterFromDate="DD/MM/YYYY"
         formatterToDate="DD/MM/YYYY" />
</form>

<h3>Some text down</h3>

<br />

<h1>Date Picker Simple</h1>
<button (click)="datePickerSingleChild.toggle()">toggle</button>
<app-date-picker-single #datePickerSingleChild></app-date-picker-single>


<h1>Ranged Calendar</h1>
<span>Side: {{rangedCalendarChild.side}}</span><button>change side</button><br>
<app-ranged-calendar
  #rangedCalendarChild></app-ranged-calendar>


<h1>Ranged Calendar with Reactive Forms</h1>
<form [formGroup]="rangedForm">
  <span>left</span>: <input type="text" formControlName="dateLeft">
  <span>right</span>: <input type="text" formControlName="dateRight">
  <pre>Side: {{rangedCalendarChild2.side}}</pre>
  <pre>{{rangedCalendarChild2.chosenLeftDay}}</pre>
  <pre>{{rangedCalendarChild2.chosenRightDay}}</pre>
  <br />
  <app-ranged-calendar
    #rangedCalendarChild2
    formatterFromDate="DD/MM/YYYY"
    formatterToDate="DD/MM/YYYY"
    [bindLeftFormControl]="rangedForm.get('dateLeft')"
    [bindRightFormControl]="rangedForm.get('dateRight')"></app-ranged-calendar>
</form>
